<!DOCTYPE html>
<html>
<head>
  <title>Youtube to MP4/MP3 - Convert Youtube Videos to MP4/MP3 - PDFTOWORD.CYCLIC.APP</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="msvalidate.01" content="C9C6379A41C3999126D6C247A6142382">
  <meta name="description" content="Download youtube videos in MP4/MP3 360p, 480p, 720p, 1080p HD for free. Try now our fastest Youtube to MP4/MP3 Downloader for PC, Mobile, and tablets.">
  <link rel="canonical" href="https://pdftoword.cyclic.app">

  <meta name="keywords" content="youtube converter, youtube mp4,ytmate,ytmate.cyclic.app, youtube to mp3 converter, converter mp3, youtubemp3, download youtube mp3, youtube to mp4 converter, youtube to mp3">

  <meta name="author" content=MD ISHAQUE AHOMAD">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Youtube to MP4/MP3 - Convert Youtube Videos to MP4/MP3 HD - YTMATE.CYCLIC.APP">
  <meta property="og:description" content="Download youtube videos in MP4/MP3 360p, 480p, 720p, 1080p HD for free. Try now our fastest Youtube to MP4/MP3 Downloader for PC, Mobile, and tablets.">
  <meta property="og:image" content="https://pdftoword.cyclic.app/pdftoword.png">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Youtube to MP4/MP3 - Convert Youtube Videos to MP4/MP3 HD - YTMATE.CYCLIC.APP">
  <meta property="og:description" content="Download youtube videos in MP4/MP3 360p, 480p, 720p, 1080p HD for free. Try now our fastest Youtube to MP4/MP3 Downloader for PC, Mobile, and tablets.">
  <meta property="twitter:image" content="https://pdftoword.cyclic.app/pdftoword.svg">

   
  <meta name="google-site-verification" content="EMPjZKftLK7Me31IFohWybr8Pq3j2hYrPGf0f6TTaI0" />
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6803881018151063"
     crossorigin="anonymous"></script>
  <script async src="https://fundingchoicesmessages.google.com/i/pub-6803881018151063?ers=1" nonce="a3SJu0zNwe1buYnuipivcA"></script><script nonce="a3SJu0zNwe1buYnuipivcA">(function() {function signalGooglefcPresent() {if (!window.frames['googlefcPresent']) {if (document.body) {const iframe = document.createElement('iframe'); iframe.style = 'width: 0; height: 0; border: none; z-index: -1000; left: -1000px; top: -1000px;'; iframe.style.display = 'none'; iframe.name = 'googlefcPresent'; document.body.appendChild(iframe);} else {setTimeout(signalGooglefcPresent, 0);}}}signalGooglefcPresent();})();</script>







  <link rel="icon" type="image/x-icon" href="https://pdftoword.cyclic.app/pdftoword.svg">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/10.7.0/css/jquery.fileupload.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/10.7.0/js/jquery.fileupload.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" />
  <link rel="stylesheet" href="/css/merger.css">

<link rel="canonical" href="https://pdftoword.cyclic.app">
<link rel="icon" type="image/x-icon" href="https://pdftoword.cyclic.app/pdftoword.ico">

<link rel="apple-touch-icon" sizes="76x76" href="https://pdftoword.cyclic.app/pdftoword.svg">
<link rel="icon" type="image/png" sizes="32x32" href="https://pdftoword.cyclic.app/pdftoword.svg">
<link rel="icon" type="image/png" sizes="16x16" href="https://pdftoword.cyclic.app/pdftoword.svg">
<link rel="mask-icon" href="https://pdftoword.cyclic.app/pdftoword.svg" color="#EE0BFF">
<link rel="shortcut icon" href="https://pdftoword.cyclic.app/pdftoword.svg">
<meta name="msapplication-TileColor" content="#EE0BFF">
<meta name="msapplication-config" content="https://pdftoword.cyclic.app/browserconfig.xml">
<meta name="theme-color" content="#EE0BFF">
<style>
a:hover{
color: #EE0BFF ! important;
}

.pdf-list button{
background-color: #EE0BFF ! important;
}

.our-services settings i{
background-color: #EE0BFF ! important;
}

</style>


</head>
<body>
    <%- include('includes/nav.ejs') %>

<section class="custom_container mt-20">

<div id="video_container" class="text-center video_container_section ">

<div class="row">

<div class="col-md-12 ">
<h1 class="intro-h1" style="color:black;">Youtube to MP4/MP3 Converter</h1>
</div>
</div>
<div class="mt-10">
<div class="yt-input">
<div id="divInput" class="text-center">
<form action="">
<input class="deletable" id="txtUrl" name="url" type="text" placeholder="Youtube Video link Or Search Keywords" autocomplete="off" style="border:1px solid #237AB7;border-radius:3px;color:black;">
<br/>
 <!--
<div class="g-recaptcha" data-sitekey="6Ldtw6cpAAAAAPk-jrPaQwhCz4Tzu85T4BXEX_3R"style="float:right;"></div>
 -->
<br/>
<button type="submit" value="Start" id="btnSubmit" onclick="if (!window.__cfRLUnblockHandlers) return false; getListFormats();" data-cf-modified-e5ba8fc802f3376d5b84f0ad-="" style="background-color:#EE0BFF;border:1px solid #237AB7;border-radius:3px;"><span class="start-btn">Start</span><span class="glyphicon glyphicon-arrow-right"></span>
</button>
</form>

<p class="text-center pt-5" style="color:pink ! important"> Earn $1 usd just for sign up - when you complete 3 transaction:<a href="https://app.airtm.com/ivt/mdishaqu7yn1g6ot" style="color:red ! important; text-decoration:underline ! important" >💥💥Earn $1 USD💥💥 </a> </p>

<div id="imgAnalyzer" style="display: none;"><img alt="video info is loading" src="https://pdftoword.cyclic.app/loading.gif"></div>
</div>

</div>
<div id="result" class="">
<div class="row">
<div class="col-md-6 text-center">
<div id="info">
<div id="divThumbnail">
<img id="thumbnail" class="thumnail-img">
</div>
<div id="videoTitle" class="text-center"></div>
</div>
</div>
<div class="col-md-6">
<div id="mytab" style="width: 100%;">
<div class="tab">
<button class="tablinks" onclick="if (!window.__cfRLUnblockHandlers) return false; openTab(event, 'tabVideo')" id="defaultOpen" data-cf-modified-e5ba8fc802f3376d5b84f0ad-="">Video</button>
<button class="tablinks" onclick="if (!window.__cfRLUnblockHandlers) return false; openTab(event, 'tabAudio')" data-cf-modified-e5ba8fc802f3376d5b84f0ad-="">Audio</button>
</div>
<div id="tabVideo" class="tabcontent"></div>
<div id="tabAudio" class="tabcontent"></div>
</div>
</div>
</div>
</div>
</div>

<div id="resul"><div class="row"><div class="col-md-6 text-center"><div id="info" ><div id="divThumbnail"></div><div class="text-center" id="videoTitle"> </div></div></div><div class="col-md-6"><div id="myta"><div class="ta"> <!-- <button class="tablink activ" id="defaultOpe" >Video</button><button class="tablinks">Audio</button>--> </div><div class="tabconten" id="tabVide">

<table caption="youtubetomp3" class="tableVideo"><tbody id="fetchData"><tr><th>Quality</th><th>File size</th><th>Status</th></tr>


<!--
<tr><td>(.MP4/MP3) 1080p</td><td>334.5 MB</td><td id="btn137140"><button class="btn"  type="submit"><span class="glyphicon glyphicon-film"></span>Convert</button></td></tr> -->






</tbody></table></div></div></div></div></div></div>
    
    


    <%- include('includes/alltools.ejs') %>

    <%- include('includes/services.ejs') %>

      <%- include('includes/howto.ejs') %>

        <%- include('includes/footer.ejs') %>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>


        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="/js/split.js"></script>
<script src="/js/controll.js"></script>
</body>
</html>
